.cloud {
    &__content {
        bottom: 0;
        left: 0;
        padding-top: 50px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }

    // width: 350px;
    // height: 350px;
    // box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
    // -webkit-box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
    // position: relative;
    // background: url('/images/1.png');
    // background-repeat: no-repeat;

    &-1 {
        top: 50px;
        animation: animate-1 32s linear infinite;
        -webkit-animation: animate-1 83s linear infinite;
        transform: scale(0.75);
        -webkit-transform: scale(0.95);
    }

    &-2 {
        top: 40vh;
        animation: animate-2 37s linear infinite;
        -webkit-animation: animate-2 87s linear infinite;
        transform: scale(0.45);
        -webkit-transform: scale(0.45);
    }

    &-3 {
        top: 20vh;
        animation: animate-3 45s linear infinite;
        -webkit-animation: animate-3 85s linear infinite;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }

    &-4 {
        top: 40vh;
        animation: animate-4 50s linear infinite;
        -webkit-animation: animate-4 100s linear infinite;
        transform: scale(0.8);
        -webkit-transform: scale(0.2);
    }

    &-5 {
        top: 65vh;
        animation: animate-5 55s linear infinite;
        -webkit-animation: animate-5 105s linear infinite;
        transform: scale(0.55);
        -webkit-transform: scale(0.55);
    }

    &-6 {
        top: 35vh;
        animation: animate-6 60s linear infinite;
        -webkit-animation: animate-6 110s linear infinite;
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
    }

    &-7 {
        bottom: 30px;
        animation: animate-7 65s linear infinite;
        -webkit-animation: animate-7 115s linear infinite;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 60px;

    @media only screen and (max-width: 1024px) {
        max-width: calc(100% - 68px);
        padding: 0 30px;
    }

    @media only screen and (max-width: 768px) {
        max-width: calc(100% - 38px);
        padding: 0 18px;
    }

    @media only screen and (max-width: 414px) {
        max-width: 100%;
        padding: 0 18px;
    }
}

.marquee {
    display: flex;
    animation-name: marquee;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    transform: translateX(0);

    &__wrapper {
        overflow: hidden;
        transform: skew(360deg, 356deg);
    }

    &__2 {
        animation-name: marquee2;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animate-1 {
    0% {
        left: 90%;
    }

    10% {
        left: 110%;
    }

    10.001% {
        left: -10%;
    }

    100% {
        left: 90%;
    }
}

@keyframes animate-2 {
    0% {
        left: 75%;
    }

    25% {
        left: 110%;
    }

    25.001% {
        left: -10%;
    }

    100% {
        left: 75%;
    }
}

@keyframes animate-3 {
    0% {
        left: 60%;
    }

    40% {
        left: 110%;
    }

    40.001% {
        left: -10%;
    }

    100% {
        left: 60%;
    }
}

@keyframes animate-4 {
    0% {
        left: 45%;
    }

    55% {
        left: 110%;
    }

    55.001% {
        left: -10%;
    }

    100% {
        left: 45%;
    }
}

@keyframes animate-5 {
    0% {
        left: 30%;
    }

    70% {
        left: 110%;
    }

    70.001% {
        left: -10%;
    }

    100% {
        left: 30%;
    }
}

@keyframes animate-6 {
    0% {
        left: 10%;
    }

    90% {
        left: 110%;
    }

    90.001% {
        left: -10%;
    }

    100% {
        left: 10%;
    }
}

@keyframes animate-7 {
    0% {
        left: -10%;
    }

    99.99% {
        left: 110%;
    }

    100% {
        left: -10%;
    }
}